/*
#########################################
Inicio de propidedades de la
clase barra, correspondiente al menu desplegable
*/
*{
     padding:0;
}
/*Generales*/
.barra {
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 10%;
    position: fixed;
    transition: .4s all;
    z-index: 1;
}
/*Lista no ordenada*/
.barra ul {
    padding: 0px;
    text-align: center;
}
/*Lista*/
.barra li{
    transition: .4s all;  
    visibility: hidden;      
}
/*enlaces*/
.barra a{
    text-decoration: none;     
    list-style: none;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}
/*Titulo*/
.barra h2{
    text-align: center;
    color:white;
    padding:0px;
    padding-bottom: 7px;
    font-size: 0px;
    }
/*Imagen*/

.barra svg{
    padding-top:0px ;
    padding-left: 0px;
}

/*pseudo-clasehover*/
/*Activacion cuando el cursor se pone sobre ella*/


.barra:hover{
    width:70% ;
    height: 70%;
    background-color: rgba(5, 33, 51, 0.98);
}

.barra:hover h2{
padding-bottom: 0px;
font-size: 25px;
}

.barra:hover a{
       font-size: 20px;
       color:white;
       display:block;
       padding:20px;
}

.barra:hover svg{

    height: 0px; 
    width:0px;    

}

.barra:hover li{
    visibility: visible;  
border-top: 1px solid black;
    width: 100%;

}

.barra:hover ul:last-of-type{
    border-top: 1px solid black;
            
    }

    .barra:hover a:hover{
        font-size: 25px;
        padding: 30px 0px;
        background-color: rgba(22, 78, 112, 0.98);
    }

    